html,
body,
#root,
.app {
  height: 100%;
}

.app {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 20px;
}

.DraftEditor-root {
  background-color: #fff;
  flex: 1;
}
